<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="padding-left: 20px;">
      <div class="container" style="padding-left: 20px;">
  
        <div class="section-title">
          <h2>About Me</h2>
          <p>I am a hardworking, honest individual, always willing to learn new skills. Quite friendly, helpful, and polite, with a good sense of humor. I am outgoing, tactful, and able to listen effectively when solving problems.</p>
        </div>
  
        <div class="row about-me-row">
          <!-- Image Column -->
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/utsav.jpg" class="img-fluid profile-image" alt="Saikat Roy Profile Image" width="300" height="300">
          </div>
  
          <!-- Text Column (This will be on the right of the image) -->
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Web Developer</h3>
            <p class="font-italic">
              Skilled at writing well-designed, testable, and efficient code using current best practices in Web development.<br>
              Fast learner, hard worker, and team player who is proficient in an array of scripting.
            </p>
            
            <!-- Two Columns Section -->
            <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="fa-solid fa-chevron-right"></i> <strong>Phone:</strong> <a rel="noopener" href="tel:+8801949215019">+8801949215019</a></li>
                    <li><i class="fa-solid fa-chevron-right"></i> <strong>Email:</strong> <a rel="noopener" href="mailto:utsavsoni7676@gmail.com">utsavsoni7676</a></li>
                    <li><i class="fa-solid fa-chevron-right"></i> <strong>Github:</strong> <a rel="noopener" href="https://github.com/njmsaikat" target="_blank">Github Profile</a></li>
                  </ul>
                </div>
                
                <div class="col-lg-6">
                  <ul>
                    <li><i class="fa-solid fa-chevron-right"></i> <strong>Degree:</strong> B Tech in CSE</li>
                    <li><i class="fa-solid fa-chevron-right"></i> <strong>Freelance:</strong> Available</li>
                    <li><i class="fa-solid fa-chevron-right"></i> <strong>City:</strong> Jharkhand, India</li>
                  </ul>
                </div>
              </div>              
          </div>
        </div>
  
      </div>
    </section><!-- End About Section -->
  </main>
  