.home-body {
    background-color: #4465a0 ; // whole page black
    color: #fff;            // white text
    height: 30vh;          // full height of screen
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
  }
  
  .home-body h1,
  .home-body h2 {
    margin: 0;
    padding: 10px 50px;
    font-family: 'Arial', sans-serif;
  }
  